body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background-color: #adc9f7;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

header {
    display: inline-block;
    vertical-align: bottom;
    margin: auto;
}

.person {
    height: 100px;
    width: auto;
}

.names {
    color: white;
    text-align: center;
    padding-top: 5px;
}

#myName {
    font-size: 1.5em;
}

#sky {
    background-color: #adc9f7;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    padding-bottom: -3px;
    width: 100%;
}

.grassland {
    height: 42px;
    width: 100%;
    background: #3b6d40;
    margin: 0;
}

.dirtnav {
    text-align: center;
    padding-top: 18px;
}

.dirtnav-stick {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.dirtnav ul li {
    color: white;
    cursor:pointer;
    list-style-type: none;
    border: white 2px solid;
    display: inline;
    padding: 5px;
    text-align: center;
}

.dirtnav ul li:hover {
    background-color: #000000;
} 

.soil {
    background: #685642;
}

.projbuttons p {
    font-size: 0.7em;
}

.proj {
    padding: 10px 5px 10px 10px;
}

.proj img {
    width: 70%;
    height: auto;
    border: white 2px solid;
}

.texts, .projbuttons {
    color: white;
}

.texts {
    font-size: 0.5em;
}

.texts i {
    font-size: 0.7em;
    padding: 2px;
}

.projname {
    padding-top: 10px;
    font-size: 0.8em;
}

#subtitled {
    font-size: 0.5em;
    padding-bottom: 0;
}

.selector li{
  list-style-type: none;
  border: white 2px solid;
  padding: 5px;
  margin-left: -40px;
  font-size: 0.4em;
  cursor: pointer;
}

.selector li:hover{
  background-color: #000000;
}

#themeselect {
    padding: 10px;
}

#themeselect li{
    color: white;
    cursor:pointer;
    list-style-type: none;
    border: white 2px solid;
    display: inline;
    padding: 5px;
}

.blackout {
    background-color: #000000;
}

#themeselect li:hover{
    background-color: #000000;
}

.subsection {
    font-size: 1.0em;
    padding-top: 20px;
}

.portrait {
    text-align: center;
    margin: auto;
}

.portrait img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border: white 2px solid;
}

.about p {
    text-align: justify;
    width: 95%;
    margin: auto;
}

.bottom ul {
    text-align: center;
}

.boxy {
    width: 100%;
    margin-bottom: 10px;
    border: white 2px solid;
}

.sub {
    background-color: #000000;
    border: white 2px solid;
}

@media (min-width: 412px) {
    #myName {
        padding-top: 50px;
        font-size: 2.2em;
    }
    
    .person {
        height: 200px;
        width: auto;
        text-align: center;
        vertical-align: bottom;
    }
    
    #subtitled {
        font-size: 1.0em;
        padding-bottom: 0;
    }
    
    .texts {
        font-size: 1em;
    }
    
    .texts i {
        font-size: 2.5em;
        padding: 2px;
    }
    
    .projbuttons p {
       font-size: 1.5em;
    }
    
    .proj {
        padding: 10px;
    }
    
    .proj img {
        width: 50%;
        height: auto;
    }
    
    .projname {
        padding-top: 10px;
        font-size: 1.5em;
    }
    
    .selector li {
        font-size: 1em;
    }
    
    .subsection {
        font-size: 1.5em;
        padding-top: 20px;
    }
}

.tall {
    height: 120px;
}

tt {
    border: red solid 2px;
}