header {
    display: inline-block;
    vertical-align: bottom;
    margin: auto;
}

.person {
    height: 200px;
    width: auto;
    text-align: center;
    margin: auto;
}

.tt {
    border: solid red 0px;
}

.names {
    color: white;
    text-align: center;
}

.name h2 {
    padding-top: 20px;
}

#sky {
    background-color: #adc9f7;
}

.grassland {
    height: 34px;
    width: auto;
    background-color: green;
}

.soil {
    background-color: brown;
}